/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site       : 'juphy_night';
@reset      : 'juphy_night';

/* Elements */
@button     : 'juphy_night';
@container  : 'juphy_night';
@divider    : 'juphy_night';
@emoji      : 'juphy_night';
@flag       : 'juphy_night';
@header     : 'juphy_night';
@icon       : 'juphy_night';
@image      : 'juphy_night';
@input      : 'juphy_night';
@label      : 'juphy_night';
@list       : 'juphy_night';
@loader     : 'juphy_night';
@placeholder: 'juphy_night';
@rail       : 'juphy_night';
@reveal     : 'juphy_night';
@segment    : 'juphy_night';
@step       : 'juphy_night';
@text       : 'juphy_night';

/* Collections */
@breadcrumb : 'juphy_night';
@form       : 'juphy_night';
@grid       : 'juphy_night';
@menu       : 'juphy_night';
@message    : 'juphy_night';
@table      : 'juphy_night';

/* Modules */
@accordion  : 'juphy_night';
@calendar   : 'juphy_night';
@checkbox   : 'juphy_night';
@dimmer     : 'juphy_night';
@dropdown   : 'juphy_night';
@embed      : 'juphy_night';
@modal      : 'juphy_night';
@nag        : 'juphy_night';
@popup      : 'juphy_night';
@progress   : 'juphy_night';
@slider     : 'juphy_night';
@rating     : 'juphy_night';
@search     : 'juphy_night';
@shape      : 'juphy_night';
@sidebar    : 'juphy_night';
@sticky     : 'juphy_night';
@tab        : 'juphy_night';
@toast      : 'juphy_night';
@transition : 'juphy_night';

/* Views */
@ad         : 'juphy_night';
@card       : 'juphy_night';
@comment    : 'juphy_night';
@feed       : 'juphy_night';
@item       : 'juphy_night';
@statistic  : 'juphy_night';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : 'themes';

/* Path to site override folder */
@siteFolder  : 'site';


/*******************************
         Import Theme
*******************************/

@import (multiple) "theme.less";

/* End Config */
